
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


      <!-- Navbar Start -->

<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
            <a href="{% url 'home:home' %}" class="nav-item nav-link {% if request.path == '/' %} active {% endif %}">خانه</a>
            <a href="#" class="nav-item nav-link {% if request.path == '/classes/' %} active {% endif %}">کلاس‌ها</a>
            <a href="{% url 'category_list' %}" class="nav-item nav-link {% if request.path == '/categories/' %} active {% endif %}">مادر و کودک</a>
            <a href="{% url 'kindergarten_articles' %}" class="nav-item nav-link {% if request.path == '/kindergarten-articles/' %} active {% endif %}">مهد کودک</a>
            <a href="#" class="nav-item nav-link {% if request.path == '/about/' %} active {% endif %}">درباره ما</a>
            <a href="#" class="nav-item nav-link {% if request.path == '/contact/' %} active {% endif %}">تماس با ما</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->
